.bodyWrapper{
    background-color: #1b1b1b;
    color: white;
}
.contentContainer{
    max-width: 1944px;
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
}
.top{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    background-color: #223635;
    padding-left: 2em;
    padding-right: 2em;
}

.title{
    font-size: clamp(40px, 7vw, 65px);
    font-weight: 700;
}

.subTitle{
    font-size: clamp(16px, 5vw, 32px);
}

.marqueeContainer {
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.marqueeTrack {
    display: flex;
    position: relative;
    width: fit-content;
}

.marqueeText {
    white-space: nowrap;
    font-size: clamp(16px, 5vw, 32px);
    color: #595959;
    flex-shrink: 0;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (min-width: 1024px) {
    .marqueeText {
        font-size: 32px;
        animation: scroll 50s linear infinite;
    }
}

.section{
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(2rem, 5vw, 7rem);
    padding: clamp(4rem, 6vw, 8rem) 0;
}

.sectionTitle{
    font-size: clamp(25px, 5vw, 40px);
    font-weight: 600;
    padding-bottom: clamp(2rem, 5vw, 3rem);
}

.sectionContent{
    font-size: clamp(16px, 5vw, 36px);
    font-weight: 200;
}

.sectionImage{
    border-radius: 15px;
}
.nextProject{
    background-color: #76B900;
}

.nextProjectTitle{
    font-size: clamp(35px, 7vw, 45px);
    font-weight: 700;
    padding: 2rem;
}